.marginTop {
  margin-top: 1em;
}

button.btn.btn-default:focus {
  outline:none;
}

.dataComponent {
  overflow: hidden;
  margin-bottom: 3em;
}
h5.dtalign {
  text-align: right;
  width:160px;
  color:#d43f3a
}