<div class="jumbotron">
  <div class="container">
    <h1>Some Events</h1>
    <p>Practice Single page App Angular 4. Data binding, directives, decorators, dependency injection, constructor injection, services logic, built-in providers, data persistence, routing, ngModule, rootModule, bootstraping, browserModule, components, interpolation, property binding, event binding, passing data within components with input and emitters, subscribing to component events etc etc..</p>
    <button class="btn btn-primary btn-lg" 
    
    href="#">
     All Events »
    </button>
  </div>
</div>